---
import Title from "@components/shared/Title.astro";
import Layout from "src/layouts/Layout.astro";
import { Counter } from "@components/Counter";
---

<Layout title="Favorites">
    <Title> Favoritos </Title>
    <Counter client:load/>
</Layout>
