---
import Title from "@components/shared/Title.astro";
import Layout from "src/layouts/Layout.astro";
import { Counter } from "@components/Counter";

const counterValue = 20;
---

<Layout title="Islas">
    <Title> Islas </Title>
    <Counter
        transition:persist="counter"
        transition:persist-props
        client:load
        initValue={counterValue}
    >
        <Title> COUNTER ISLAND</Title>
    </Counter>
</Layout>
